:root {
  --light-blue: #0095DB;
  --blue-green-blue: linear-gradient(#00D1FF, #OOE4FF, #00D1FF)
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
 
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}
 
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
 
/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
 
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
 
/* Wrapper for item list */
.bm-item-list {
  color: var(--light-blue);
  padding: 0.8em;
}
 
/* Individual item */
.bm-item {
  display: inline-block;
}
 
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.nav-container {
  position: absolute;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  z-index: 3; /**/
  background: linear-gradient(rgba(1, 161, 197, 0.7), transparent);
  transition: background-color 1.5s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 40px;
  background-color: rgba(1, 161, 197, 0.7);
  transition: background-color 1.5s;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.primary-content-background {
  background-attachment: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./images_final/background10.jpg'); /* will be background-image */ 
  background-size: cover;
  text-align: center;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.primary-content-background-2 {
  background-image: linear-gradient(rgba(1, 161, 197, 0.6), rgba(0, 240, 240, 0.9), rgba(1, 161, 197, 0.6));
}
.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.75);
}
.about-content {
  max-width: 75%;
  margin: 25px auto;
  font-size: 1.25em;
}
.carousel-slider {
  margin: 0 auto 80px auto !important;
  max-height: 530px; /* max-height: 530px */ 
  align-items: center;
  z-index: 1;
  border-radius: 40px; /* 45 */ 
  box-shadow:0 0 100px rgba(0,0,0,0.6);
}
.thumbs-wrapper {
  display: none;
}
.portfolio-container {
  /* height: 250vh; */
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.portfolio-piece-container {
  background-color: rgba(255, 255, 255, 0.75);
}
.skills-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.skills-icons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px 0px;
  justify-items: center;
  margin: 0 auto;
}
.icon-cont {
  width: 110px;
  height: 100px;
  color: black;
}
.skills-icons {
  font-size: 4.5em;
}
.skills-icon-text {
  margin-top: 3px;
}
.contact-container {
  height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  margin-top: -70vh;
}
.contact-inner {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(1, 161, 197, 0.7);
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 60%;
  margin: 0 auto;
}
.contact-form-upper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.contact-form * {
  border-radius: 6px;
  background-color: 
}







@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
