.App {
  font-family: Georgia, serif;
}
.font-size-main {
  font-size: 1.2em;
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
 .bm-burger-bars {
  background: rgba(255, 255, 255);
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
 .bm-cross {
  background: white;
}
 .bm-menu {
  background: rgb(0, 0, 0, 0.9);
  padding: 2.5em 1.5em 0;
  font-size: 1.2em;
}
.bm-morph-shape {
  fill: rgba(0, 0, 0, 0.7);
}
.bm-item-list {
  padding: 0.8em;
}
.bm-item {
  display: inline-block;
  margin-bottom: 25px;
}
.bm-item:hover {
  text-decoration: underline;
  color: rgb(1, 161, 197);
}
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.vignette {
  height: 104vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent, rgba(0, 0, 0, 0.7));
  z-index: 2;
  animation: fadeIn 2s;
}
.nav-container {
  position: absolute;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  z-index: 3; /**/
  background: linear-gradient( rgba(1, 161, 197, 0.9), transparent);
  transition: background-color 1s;
}
.nav-link {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  height: 29px;
  width: 140px;
}
.nav-link-dropdown * {
  color: rgba(255, 255, 255, 0.85) !important;
  width: 140px !important;
  background-color: transparent !important;
  font-size: 1em !important;
  font-family: Georgia, serif !important;
  border: none !important;
  margin-left: -6px !important
}
.nav-link-dropdown, .lcLLwD:hover {
  text-decoration: underline !important;
  color: white !important;
}
.nav-link-dropdown *:hover {
  cursor: pointer !important;
}
.dropdown-sidebar .jKeRtE {
  margin: -43px 0 0 20vw !important;
  overflow: visible !important;
  text-align: right !important;
}

/* .nav-link-dropdown > p {
  padding:
} */
.nav-link:hover {
  color: white;
  text-decoration: underline;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 40px;
  background-color: rgba(1, 161, 197, 0.95);
  transition: background-color 1s;
}
.landing-name {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color:rgb(255, 255, 255);
}
.landing-name > h3 {
  color: rgba(255, 255, 255, 0.9);
}
.primary-content-background {
  background-attachment: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./images/four.jpg');
  background-size: cover;
  text-align: center;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.primary-content-background-2 {
  background-image: linear-gradient(rgba(1, 161, 205, 0.8), rgba(50, 250, 250, 0.8), rgba(1, 161, 205, 0.8));
}
.about-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  animation: fadeIn 1s;
}
.about-container > p, .about-container > h1 {
  width: 90%;
  margin: 30px auto;
}
.about-content-cont {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.carousel-slider {
  margin: 40px auto !important;
  width: 55% !important;
  border-radius: 10px;
  border: 3px solid white;
}
.carousel .slide {
  padding-bottom: 15px;
}
.thumbs-wrapper {
  display: none;
}
.carousel-text-left {
  width: 43%;
  float: left;
  margin: 20px auto;
  text-align: left;
  padding-right: 10px;
}
.carousel-text-right {
  width: 43%;
  float: right;
  margin: 30px auto;
  text-align: right;
  padding-left: 10px
}
.portfolio-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 15px auto;
}
.portfolio-buttons {
  height: 50px;
  width: 150px;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border-radius: 8px;
}
.portfolio-buttons:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.this-project-container {
  margin: 0 auto 80px auto;
  padding: 50px auto;
}
.this-project-code {
  margin: 0 auto;
}
.skills-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 0;
  margin: 80px auto;
  background-color: rgba(0, 0, 0, 0.8); /**/
  color: white;
  animation: fadeIn 2s;
}
.skills-icons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px 25px;
  justify-items: center;
  margin: 29px auto;
}
.icon-cont {
  width: 110px;
  height: 100px;
}
.skills-icons {
  font-size: 4.5em;
  color: rgba(1, 161, 197, 0.95);
}
.skills-icons:hover {
  cursor: pointer;
  color: rgb(1, 161, 197);
}
.skills-icon-text {
  margin-top: 3px;
  color: rgb(1, 161, 197);
}
.contact-container {
  height: 85vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  margin-top: -85vh;
  animation: fadeIn 2s;
}
.contact-inner {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  background-color: rgb(1, 161, 197);
  z-index: 3;
  margin-bottom: -85vh;
  margin-top: -5;
}
.contact-title {
  background-color: rgb(1, 161, 197);
  width: 100vw;
  height: 10vh;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.contact-inner > p {
  width: 50%;
  margin: 25px auto;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}
.contact-form-upper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.contact-form * {
  border-radius: 5px;
}
.contact-input {
  width: 282px;
  border: 1px solid black;
  opacity: .7;
}
.contact-input:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid white;
}
.contact-input-text {
  opacity: .7;
}
.contact-input-text:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid white;
}
.contact-maintain {
  width: 99%;
}
.contact-submit {
  width: 573px;
  height: 60px; 
  border: 1px solid black; 
  opacity: .7;
}
.contact-submit:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid white;
}
.contact-social {
  display: flex;
  margin: 0 auto;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.social-buttons {
  font-size: 2.5em;
  color: black;
  opacity: .6;
  transition: font-size .1s;
}
.social-buttons:hover {
  font-size: 2.8em;
  opacity: 1;
  transition: font-size .1s;
}
@keyframes fadeIn {
  from { opacity: 0.001; }
  to   { opacity: 1; }
}
@keyframes codeFade {
  from { opacity: .25; }
  to { opacity: .2; }
}


@media (max-width: 1000px) {
  .font-size-main {
    font-size: 1em;
  }
  .carousel-slider {
    width: 50% !important;
  }
  .about-container, .skills-container {
    width: 100%;
  }
  .about-content-cont {
    width: 95%;
  }
  .skills-icons-container {
    grid-gap: 25px 0px;
  }
}



@media (max-width: 575px) {
  .App {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .about-content-cont {
    max-width: 70%;
  }
  .font-size-main {
    font-size: .85em;
    max-width: 70%;
  }
  .contact-actual-container {
    width: 100vw;
    background-color: rgb(1, 161, 197);
    height: 100%;
  }
  .contact-inner {
    height: 88%;
    margin-left: 10vw;
  }
  .contact-inner p {
    width: 100%;
  }
  .contact-input {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
  .contact-social {
    width: 70%;
  }
}

@media (max-width: 420px) {
  .skills-icons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: -10px 25px;
    justify-items: center;
    margin: 29px auto;
  }
  .font-size-main {
    max-width: 50%;
  }
  .contact-inner {
    margin-left: 22vw;
  }
}
/* @media (max-width: 440px) {
  .contact-title {
    width: 140vw;
  }
}
@media (max-width: 350px) {
  .contact-title {
    width: 170vw;
  }
} */
